<html>
  <body>
    <form ref='uploadForm'
      id='uploadForm'
      action='/form/upload'
      method='post'
      encType="multipart/form-data">
        <% let partsSplit = pieceParts.split(","); %>
        <% for(let i = 0; i < partsSplit.length; i++) {%>
          <input type="file" name="file" />
          <input type="file" name="file" />
          <select name="partName" id="partName">
            <% partsSplit = pieceParts.split(","); %>
            <% for(let j = 0; j< partsSplit.length; j++) {%>
              <option value=<%= partsSplit[j] %>><%= partsSplit[j] %></option>
            <% } %>
          </select>
          <br>
        <% } %>
        <input type="radio" style="display: none" name="pieceId" id="pieceId" value=<%= pieceId %> checked></radio>
        <input type='submit' value='Upload!' />
    </form>
    <ul class="piece">
        <li class="piece">
          <span><%= pieceTitle %></span>
          <span><%= pieceOwner %></span>
          <span><%= pieceParts %></span>
        </li>
    </ul>
  </body>
</html>
