<html>
  <body>
    <form ref='uploadForm'
      id='uploadForm'
      action='/form/upload'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <select name="partName" id="partName">
          <% let partsSplit = pieceParts.split(","); %>
          <% for(var i = 0; i< partsSplit.length; i++) {%>
            <option value=<%= partsSplit[i] %>><%= partsSplit[i] %></option>
          <% } %>
        </select>
        <input type='submit' value='Upload!' />
    </form>
    <ul class="piece">
        <li class="piece">
          <span><%= pieceTitle %></span>
          <span><%= pieceOwner %></span>
          <span><%= pieceParts %></span>
        </li>
    </ul>
  </body>
</html>
