<!DOCTYPE html>
<html lang="en">
<head>
  <title>Piece Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <scriptz src="/js/getpiece.js"></scriptz>
  <scriptz src="/js/postpiece.js"></scriptz>
</head>
  <body>
    <div class="container">
    <h1>Main Page</h1>
      <div class="row">
        <div class="col-sm">
          <h3 class="text-center">Upload a new Piece</h3>
          <ul>
            <li> <a href="/form">upload a new piece</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3 class="text-center">View a Piece</h3>
              <% for(let i = 0; i < pieces.length; i++) {%>
                <div class="card">
                  <div class="card-body mb-3">
                    <h5 class="card-title"><%= pieces[i].title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= pieces[i].owner %></h6>
                    <p class="card-text"><%= pieces[i].description %></p>
                    <a href="/lookhear/<%= pieces[i].id %>"><%= pieces[i].title %></a>
                  </div>
                </div>
              <% } %>
        </div>
        <div class="col-sm">
          <h3 class="text-center">Add Animation to a Piece</h3>
          <% for(let i = 0; i < pieces.length; i++) {%>
            <div class="card">
              <div class="card-body mb-3">
                <h5 class="card-title"><%= pieces[i].title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= pieces[i].owner %></h6>
                <p class="card-text"><%= pieces[i].description %></p>
                <a href="/animatepage/<%= pieces[i].id %>"><%= pieces[i].title %></a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
